.mentors {
  margin-top: 70px;
  @media (max-width: 700px) {
    margin-top: 30px;
  }
  &__list {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    @media (max-width: 735px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 700px) {
      margin-top: 30px;
    }
  }
  &__item {
    background: #ffffff;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    padding: 30px;
    @media (max-width: 400px) {
        padding: 15px 15px;
      }
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 1310px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__img {
    min-width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
    @media (max-width: 1310px) {
      margin: 0;
    }
    &-1 {
      background: url("../img/mentors_1.png") center/cover no-repeat;
    }
    &-2 {
      background: url("../img/mentors_3.png") center/cover no-repeat;
    }
    &-3 {
      background: url("../img/mentors_4.png") center/cover no-repeat;
    }
    &-4 {
      background: url("../img/mentors_2.png") center/cover no-repeat;
    }
  }
  &__name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    @media (max-width: 1310px) {
      margin-top: 20px;
    }
    & p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      margin: 5px 0;
      line-height: 20px;
      color: #000000;
    }
  }
  &__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 5px;
    line-height: 20px;
    color: #000000;
    margin-top: 20px;
  }
}
